:root {
  --color-base: rgba(0, 0, 0, 0.8);
  --muted: #6b7280;
  --brand1: #868686;
  --brand2: #8c9bce;
  --brand3: #99d9fd;
  --highlight: #3f5bd8;
  --bg-base: #f5f5f5;
  --radius: 15px;
  --shadow: 0 6px 20px rgba(0, 0, 0, 0.8);
  --font-h2: "GMarketSans";
  --white: #fff;
}

/* hero-Slide */
.hero-slide div {
  height: 50vh;
  overflow: hidden;
  background: #f7f7f7;
}
.hero-slide div img{
 max-width: 100%;
}
.card{
  margin: 20px 30px;
}
.card .recom-text .info{
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

/* ABOUT.js - catalog */
.catalog{text-align: center;}
.catalog h2{font-size: 22px; margin: 20px 0;}
.catalog img{width: 100%;}
.catalog .about-mov{width: 100%;}
.catalog .about-mov video{width: 100%;}
